<div class="fondo-negro animated fadeIn" [ngClass]="{'oculto': modalUploadService.isHide}" >
  <div class="modal" style="display:block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="closeModal()" type="button" class="close"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img *ngIf="!imagenSubir" [src]="modalUploadService.imagenTemp | imagen: modalUploadService.tipo" class="w150">
          <img *ngIf="imagenSubir" [src]="imagenTemp" class="w150">
          <br>
          <input (change)="seleccionImagen($event.target.files[0])" type="file">
        </div>
        <div class="modal-footer">
          <button (click)="subirImagen()" [disabled]="!imagenTemp" type="button" class="btn btn-primary">Subir Imagen</button>
          <button (click)="closeModal()" type="button" class="btn btn-secondary" >Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>